.page{
	background: #F2F2F2;
	padding-top: 22px;
	font-family: 'Ubuntu', sans-serif;
}
.wrap{
	width:100%;
	max-width: 1170px;
	margin: 0 auto;
}
.title{
	text-align: center;
	font-size: 20px;
	padding: 0 165px;
}
.steps{
	padding: 26px 105px 22px;
	display: flex;
	justify-content: space-between;
}
	.steps__step{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
		.steps__circle{
			height: 36px;
			width: 36px;
			border:1px solid #BC943B;
			color: #BC943B;
			border-radius: 50%;
			display: flex;
 			align-items: center;
  			justify-content: center;
		}
		.steps__circle_active{
			border:1px solid #BC943B;
			background-color: #BC943B;
			color: white;
		}
			.steps__circle-digit{
				line-height: 24px;
				font-size: 18px;
				margin: 0;
			}
		.steps__title{
			margin-top: 10px;
			font-size: 16px;
		}
.line{
	color: #D7D4D4;
}
.info{
	padding-top: 28px;
}

	.info__title{
		line-height: 40px;
		font-size: 24px;
		color: #333333;
	}
	.info__title_padding20px{
		padding-top: 20px;
	}
	.info__title_lower{
		font-size: 20px;
		padding-bottom: 30px;
		color: #000000;
	}
.product{
	display: flex;
	padding-bottom: 28px;
}
	.product__type{
	padding-left: 15px;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	}
	.product__type_active{
	font-weight: bold;
	}
	.product__arrow{
		transform: rotate(90deg);
	}
	.product__arrow_active{
		transform: rotate(180deg);
	}
	.choosing{
		display: flex;
		justify-content: flex-start;
		max-width: 500px;
		width: 100%;
		flex-wrap: wrap;
		padding-bottom: 12px;
	}
		.choosing__item{
			padding: 9px 16px;
			border: 1px solid black;
			border-radius: 22px;
			margin-right: 10px;
			margin-bottom: 16px;
		}
.info__search-input{
	display: flex;
	border: 1px solid black;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
	max-width: 265px;
}
	.info__input{
		margin-left: 10px; 
	}
.continue{
	margin-top: 51px;
	margin-bottom: 50px;
	padding: 11px 45px 7px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 20px;
	background: #33333A;
	color: white;
	font-weight: bold

}
.condition{

}
	.condition__label{
		margin-left: 8px;
		line-height: 40px;
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #33333A;
	}
.info__yesorno{
	display: flex;
}
	.info__yes{
		padding: 11px 20px;
		color: white;
		background-color: black;
		border-radius: 15px 0px 0px 15px;
	}
	.info__no{
		padding: 11px 20px;
	}